.bodyLanding {
  background-color: #2e4053;
  background-image: url('images/chalk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*.gameBody {
  background-image: url('images/classroom.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}*/

/*.gameIntro {
  top: 250px;
  left: 285px;
  position: relative;
  color: white;
  text-shadow: 5px 5px black, 5px 5px black, 5px 5px black, 5px 5px black;
  text-decoration: underline;
}*/

.title {
  color: white;
  text-decoration: underline;
}

.instructions {
  color: white;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 25px;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
